# Install Packages

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.2-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 7.4 MB/s eta 0:00:01     |████████▌                       | 2.6 MB 1.1 MB/s eta 0:00:07
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 5.6 MB/s eta 0:00:01     |█                               | 430 kB 14.8 MB/s eta 0:00:02     |███████████▉                    | 5.7 MB 14.8 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 5.0 MB/s eta 0:00:01
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.2 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pyathena

Collecting pyathena
  Downloading PyAthena-2.1.1-py3-none-any.whl (37 kB)
Requirement already satisfied: botocore>=1.5.52 in /usr/local/lib/python3.8/site-packages (from pyathena) (1.17.47)
Requirement already satisfied: boto3>=1.4.4 in /usr/local/lib/python3.8/site-packages (from pyathena) (1.14.47)
Collecting tenacity>=4.1.0
  Downloading tenacity-6.3.1-py2.py3-none-any.whl (36 kB)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.8/site-packages (from botocore>=1.5.52->pyathena) (0.15.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.8/site-packages (from botocore>=1.5.52->pyathena) (0.10.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /usr/local/lib/python3.8/site-packages (from botocore>=1.5.52->pyathena) (1.25.10)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.8/site-packages (from botocore>=1.5.52->pyathena) (2.8.1)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.8/site-packages (from boto3>=1.4.4->pyathena) (0.3.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/site-packages (from tenacity>=4.1.0->pyathena) (1.15.0)
Installing collected packages: tenacity, pyathena
Successfully installed pyathena-2.1.1 tenacity-6.3.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.4-cp38-cp38-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 3.7 MB/s eta 0:00:01    |█████▏                          | 1.9 MB 2.1 MB/s eta 0:00:05
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp38-cp38-manylinux1_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 21.4 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-8.1.0-cp38-cp38-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 21.1 MB/s eta 0:00:01
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.4 pillow-8.1.0
Note: you may need to restart the kernel to use updated packages.

# Setup

In [3]:
import os
import sys
import pandas as pd
import numpy as np
import pyathena
%matplotlib inline
import matplotlib.pyplot as plt
from pyathena import connect

# Athena Connection

https://pypi.org/project/pyathena/

https://github.com/laughingman7743/PyAthena/

In [4]:
conn = connect(s3_staging_dir="s3://gsu-peter-bucket1/athena/", region_name="us-east-1")

# Query

In [7]:
# q = """
# SELECT * FROM "probier"."taxis" LIMIT 10
# """

q = """
WITH dataset AS (
  SELECT 
    date(pickup_datetime) AS dd,
    cast(date_format(pickup_datetime, '%H:%i') AS time) AS tt,
    dow(date(pickup_datetime)) AS day, *
  FROM taxis.taxis
  WHERE year BETWEEN {begin_year} AND {end_year}
)
SELECT day, sum(passenger_count) AS total_passengers
FROM dataset
WHERE tt BETWEEN time '16:00' AND time '16:00' + interval '3' hour
GROUP BY day
ORDER BY total_passengers desc
""".format(
    begin_year=2015,
    end_year=2016
)

df = pd.read_sql(q, conn)
print(f"Number of records: {df.shape[0]:,}")
df.head()

Number of records: 7

   day  total_passengers
0    6          26545799
1    5          24927912
2    4          23882102
3    7          23497953
4    3          23428720